@import "../../styles/variables";

.gamesList {
  position: relative;
  transition: opacity 200ms;
  margin-top: -$game-view-height;
  z-index: 16;
  opacity: 1;
  width: 100%;

  &[data-ui-status="compressed"] {
    margin-top: 0;

    @include breakpoint-small() {
      opacity: 0.5;
    }
  }
}
