@import "../styles/variables";

.container {
  & > * {
    transition: opacity 500ms;
    opacity: 0;
  }

  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &:before {
    position: absolute;
    content: "";
    top: 0%;
    left: 50%;
    color: $white;
    font-size: 10px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-indent: -9999em;
    animation: load4 1.3s infinite linear;
    transform: translateZ(0);
  }

  &[data-ui-status] {
    & > * {
      opacity: 1;
    }

    &:before {
      display: none;
    }
  }
}

.image {
  max-height: $game-view-height;
}

.screenshot {
  flex: 0 1 auto;
  max-height: $game-view-height;
}

.gameDataContainer {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: $unit * 4;

  > * {
    text-align: center;
    flex: 0 1 auto;
    margin: $unit * 3;
  }
}

.heroBtn {
  @include heroBtn();
}

.closeViewBtn {
  @include getCloseBtn();

  width: $unit * 3;
  height: $unit * 3;
  background: none;
  border: none;
  position: absolute;

  right: $unit * 2;
  top: $unit * 4;
}
