//UNIT
$unit: 8px;

//TYPOGRAPHY

$heading1_size: 2rem;
$heading2_size: 1rem;
$heading3_size: 1rem;

//COLORS

$black: #000000;
$black-80: lighten($black, 20%);
$black-60: lighten($black, 40%);
$black-40: lighten($black, 60%);
$black-20: lighten($black, 80%);
$black-10: lighten($black, 90%);

$white: #ffffff;

$orange: #ff6a00;
$orange-dark: darken($orange, 20%);
$orange-darker: darken($orange, 60%);
$orange-darkest: darken($orange, 80%);
$orange-lighter: lighten($orange, 20%);

$green: #00b67d;

//SIZES
$footer-height: 80px;
$header-height: 142px;
$game-view-height: 160px;

//BREAKPOINT MIXINS

$breaskpoint-small: 0;
$breaskpoint-medium: "1030px";
$breaskpoint-large: "1280px";
$base-unit: 8px;
$max-app-width: 1280px;

@mixin breakpoint-small() {
  @media only screen and (min-width: $breaskpoint-small) and (max-width: $breaskpoint-medium) {
    @content;
  }
}

@mixin breakpoint-medium() {
  @media only screen and (min-width: $breaskpoint-medium) and (max-width: $breaskpoint-large) {
    @content;
  }
}

@mixin breakpoint-large() {
  @media only screen and (min-width: $breaskpoint-large) {
    @content;
  }
}

//COMMON COMPONENTS

@mixin heroBtn(
  $background: $white,
  $shadow: $black,
  $gradient: $black-20,
  $hoverColor: $black-60,
  $fontColor: $black-60,
  $scale: 1
) {
  text-decoration: none !important;
  transition: color 0.1s ease, box-shadow 0.1s ease, background-color 0.1s ease;
  letter-spacing: -0.01em;
  line-height: normal;
  border: 0 solid rgba($shadow, 0);
  border-radius: #{16 * $scale}px;
  box-shadow: inset 0 -#{4 * $scale}px 0 rgba($shadow, 0.3),
    0 #{4 * $scale}px #{6 * $scale}px rgba($shadow, 0.22);
  background-color: $background;
  background-image: linear-gradient(
    180deg,
    rgba($gradient, 0) 0,
    rgba($gradient, 0.3)
  );
  font-size: #{1.5 * $scale}rem;
  font-weight: bold;
  color: $fontColor;

  text-align: center;
  padding: #{0.7 * $scale}rem #{2 * $scale}rem;

  &[data-ui-status="selected"] {
    box-shadow: inset 0 -#{1 * $scale}px 0 rgba($shadow, 0.3),
      0 #{2 * $scale}px #{6 * $scale}px rgba($shadow, 0.22);
    background-color: $orange;
    color: $white;
  }

  &:hover {
    background-image: linear-gradient(
      180deg,
      rgba($hoverColor, 0) 0,
      rgba($hoverColor, 0.3)
    );
  }
}

@mixin smallHero($newScale: 0.9) {
  @include heroBtn(
    $background: $white,
    $shadow: $black,
    $gradient: $black-20,
    $hoverColor: $black-60,
    $fontColor: $black-60,
    $scale: $newScale
  );
}

@keyframes waggle {
  0% {
    transform: none;
  }
  40% {
    transform: rotateZ(-20deg) scale(1.3);
  }
  50% {
    transform: rotateZ(25deg) scale(1.3);
  }
  57.5% {
    transform: rotateZ(-15deg) scale(1.3);
  }
  65% {
    transform: rotateZ(15deg) scale(1.3);
  }
  72.5% {
    transform: rotateZ(-18deg) scale(1.3);
  }
  80% {
    transform: rotateZ(19deg) scale(1.3);
  }
  87.5% {
    transform: rotateZ(-15deg) scale(1.3);
  }
  95% {
    transform: rotateZ(0) scale(1.3);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}

@keyframes spin {
  50% {
    transform: rotateZ(-20deg);
    animation-timing-function: ease;
  }
  100% {
    transform: rotateZ(720deg);
  }
}

@keyframes jump {
  0% {
    transform: none;
  }
  30% {
    transform: translateY(0.2em);
  }
  70% {
    transform: translateY(-0.5em);
  }
}

@keyframes loadspinner {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
