@import "../../styles/variables";

$bottomMargin: $footer-height;

.gamesListContainer {
  min-height: calc(100vh - #{$bottomMargin + $header-height + $unit * 2});
  flex: 1 1 auto;
  padding-top: $unit * 2;
}

.gamesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: $bottomMargin;
  width: 100%;

  @include breakpoint-small() {
    justify-content: center;
  }
}

.emptyListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  text-align: center;
}

.emptyList {
  max-width: 42rem;
}

.emptyListBtn {
  @include heroBtn();
  margin-top: $unit * 4;
}
