@import "../styles/variables";

$background-color: $orange;
$hideBehingHeaderBy: $unit * 4;

.gamesView {
  transform: translateY(-100%);
  opacity: 0;
  position: fixed;
  top: $header-height - $hideBehingHeaderBy;
  z-index: 1;
  transition: opacity 200ms, transform 200ms;
  min-height: $game-view-height;
  width: 100%;
  box-shadow: -1px 1px 14px rgba($black, 0.6);

  &[data-ui-status="expanded"] {
    opacity: 1;
    z-index: 17;
    transform: translateY(0);
  }

  background: $background-color;
  color: $white;
}
