@import '../styles/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  align-items: center;
  height: $header-height;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: url('./assets/playHeader.svg') no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 106%;
    background-position-y: bottom;
  }
}

.navContainer {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 8rem;
  height: 100%;
  padding: 0 $unit * 4;

  &:hover {
    animation: spin 1.5s 5s forwards cubic-bezier(0.56, -0.35, 0.22, 1.5);
    animation-delay: 20ms;
  }

  &[data-ui-status] {
    animation: waggle 1s 4s forwards ease-out;
    animation-delay: 20ms;
  }
}
